<div class="container-fluid">
    <form>
        <!-- <div class="form-group">
            <label for="my-input">Text</label>
            <input id="my-input" class="form-control" type="text"
            [(ngModel)]="mensaje" name="mensaje">
        </div>
        <button class="btn btn-primary"
        (click)="postFbConURLFoto()">Postear</button> -->
        <!-- <input id="local" class="form-control" type="file"
        [(ngModel)]="archivo" name="mensaje"> -->
        <!-- <input id="local" name="local" type="file" 
               alife-file-to-base64 multiple accept="image/x-png,image/gif,image/jpeg"
              class="form-control" (onFileChanged)="obtenerArchivo($event)"> -->
        <!-- <button class="btn btn-primary"
        (click)="postFb()">Postear</button> -->
        <!-- </div> -->
       </form>
       
</div>
