<div class="container-fluid ">
    <div class="row">
        <div class="card col-10 offset-1 tabla mt-5 mb-5">   
                <div class="table-wrapper mt-5 ">
                    <div class=" table-title ">
                        <div class=" card p-2 titulo">
                            <div class="row">
                                <div class="col-12  text-center text-md-start">
                                    <h2 class="ps-4 text-center"><b> ESTADISTICAS</b></h2>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div>
        </div>
    </div>   
</div>


