<div class="container-fluid">
    <!-- VENTANA ELIMINAR -->
            <div class="modal " id="ventanaEliminar" tabindex="-1" role="dialog">
                <div class="modal-dialog" >
                  <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                      <h5 class="modal-title">Ventana de confirmación</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                      <p>{{mensaje}}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger botones" data-bs-dismiss="modal" (click)="confirmarEliminacion()">Aceptar</button>
                    </div>
                  </div>
                </div>
            </div>
    <!-- VENTANA AGREGAR Y MODIFICAR -->
            <div class="modal fade" id="ventanaModAgr" data-bs-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" >
                    <div class="modal-content p-2">
                    <div class="modal-header titulo">
                        <h5 class="modal-title">REGISTRO DE ROL</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body p-4">
                        <form #rolForm="ngForm">
                        
                            <div class=" mb-3 ">
                                <label for="nombre" class="form-label" >Nombre Del Rol</label>
                                <input type="text" class="form-control" id="nombre" 
                                [(ngModel)]="rol.nombreRol" name="nombre" required #nombre="ngModel" style="text-transform:uppercase"
                                placeholder="Ingrese nombre"> 
                                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                                    class="alert alert-danger">        
                                    <div *ngIf="nombre.errors?.['required']">
                                    Este dato es requerido.
                                    </div>
                                </div>  
                            </div>
                    
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button *ngIf="accion=='new'" type="button" class="btn btn-primary botones" 
                         data-bs-dismiss="modal"  [disabled]="!rolForm.form.valid" (click)="guardarRol(rolForm)">GUARDAR</button>
                        <button *ngIf="accion=='update'" type="button" class="btn btn-primary botones" 
                         data-bs-dismiss="modal" [disabled]="!rolForm.form.valid" (click)="actualizarRol()">ACTUALIZAR </button>
                    </div>
                    </div>
                </div>
                </div>
            
            <div class="row">
                <div class=" col-12 col-md-8 offset-md-2 tabla mb-5 mt-5">
                    <div class="card-body align-content-center ">
                        <div class="row">
                            <div class=" col-12 col-lg-8">
                                <div class="card m-3">
                                    <h5 class="card-header titulo">FILTROS</h5>
                                    <div class="card-body align-content-center">
                                        <div>
                                          <input type="text" class="form-control" id="nombreRol" style="text-transform:uppercase"
                                          [(ngModel)]="rolABuscar" name="nombreRol" placeholder="Ingrese nombre del Rol" (ngModelChange)="buscarRol($event)" > 
                                        </div>
                                      
                                    </div>                    
                              </div>
                            </div>
                            <div class=" col-12 col-lg-4">
                                <div class="card m-3 ">
                                    <h5 class="card-header titulo text-center">REGISTRO DE ROLES</h5>
                                    <div class="card-body align-content-center vstack gap-2 mx-auto">
                                        <button type="button" class="btn btn-outline-success"
                                        data-bs-toggle="modal" data-bs-target="#ventanaModAgr" (click)="agregarRol()">
                                            <i class="bi bi-plus-circle"></i> AGREGAR
                                        </button> 
                                    </div>
                              </div>
                            </div>
                        </div>   
                    </div>                    
                </div>
            </div>
            <div class="row">
                <div class=" col-12 col-md-8 offset-md-2 tabla mb-5">
                    <div class="card m-3 text-center">
                        <div class=" table-title ">
                            <div class=" card p-2 titulo">
                                <div class="row">
                                    <div class="col-12  text-center text-md-start">
                                        <h2 class="ps-4 text-center"><b> ROLES</b></h2>
                                    </div>
                                   
                                </div>      
                            </div>
                        </div>
                        <div class="card-body align-content-center">
                            <div class="row ">
                                <div class="table-responsive">
                                    <table class="table table-success table-striped">
                                        <thead class="titulo p-3">
                                            <tr class="text-center" >
                                                <th scope="col" class="text-center">NOMBRE</th>
                                                <th scope="col" class="text-center">PERSONAS</th>
                                                <th scope="col" class="text-center">ACCIONES</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let r of roles ">
                                            <td>{{r.nombreRol}}</td>
                                            <td>
                                                <div class="accordion" >
                                                    <div class="accordion-item">
                                                      <h2 class="accordion-header" id="headingTwo">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                                                        [attr.data-bs-target]="'#collapse'+r._id"
                                                        aria-expanded="false" [attr.aria-controls]="'collapse'+r._id">
                                                        VER PERSONAS
                                                        </button>
                                                      </h2>
                                                      <div [id]="'collapse'+r._id" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                          <p *ngFor="let p of r.personas">{{p.apellido}}, {{p.nombre}}</p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    
                                                  </div>
                                            </td>
                                            <td>
                                                <div class="">
                                                    <div class=" d-flex justify-content-center">
                                                        <button type="button" class="btn btn-btn bg-warning me-2 btnAcciones"
                                                        data-bs-toggle="modal" data-bs-target="#ventanaModAgr" (click)="modificarRol(r)">
                                                            <i class="bi bi-pencil "></i>
                                                        </button>
                                                        <button type="button" class="btn btn-btn bg-danger btnAcciones"
                                                        data-bs-toggle="modal" data-bs-target="#ventanaEliminar"(click)="eliminarRol(r)">
                                                            <i class="bi bi-trash3"></i>
                                                        </button> 
                                                    </div>
                                                </div>    
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>     
                               </div>      
                        </div>        
                    </div>
                </div>
            </div>                
</div>
