<div class="container">
    <div class="row ">
        <div class="card col-10 offset-1 tabla mt-5">
            <div class="row">
                <div class=" col-12 col-sm-12 col-md-8">
                    <div class="card m-3 ">
                            <h5 class="card-header titulo">FILTROS</h5>
                            <div class="card-body align-content-center">
                                
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                      <h2 class="accordion-header" id="flush-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                            Filtrar
                                        </button>
                                      </h2>
                                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">AQUI IRIA LOS TIPOS DE FILTROS </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>                    
                      </div>
                </div>
                <div class=" col-12 col-sm-12 col-md-4 ">
                    <div class="card m-3 ">
                            <h5 class="card-header titulo text-center">REGISTRO DE ROLES</h5>
                            <div class="card-body vstack gap-2 mx-auto">
                                <button type="button" class="btn btn-outline-success"
                                data-bs-toggle="modal" data-bs-target="#ventanaModAgr">
                                    <i class="bi bi-plus-circle"></i> AGREGAR
                                </button> 
                            </div>
                      </div>
                </div>
            </div>
            
        </div>
        

    </div>
</div>
