footer{
    /*background: linear-gradient(to left, rgba(6, 6, 6, 0.429), rgba(6, 6, 6, 0.478)), url('https://images.pexels.com/photos/808510/pexels-photo-808510.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');*/
    background: rgba(1, 1, 1, 0.767); ;
    background-size:cover;
    color: white;
    text-align: center;
    padding: 4% 0% 2% 0% ;
}
/*Seccion del icono toggler-------------------------------------------------------------*/
.navbar-toggler{
    margin-right: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.275), rgba(0, 0, 0, 0.284) 80%);
}
/*Seccion footer iconos-----------------------------------------------------------------*/
.cont-iconos-footer svg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    fill: rgba(249, 249, 249, 0.767);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.275), rgba(0, 0, 0, 0.284) 80%);
}
.cont-iconos-footer svg:hover{
    fill: rgba(255, 255, 255, 0.767); 
}