<div class="container-fluid">
  <div class="modal " id="ventanaConfirmacion" tabindex="-1" role="dialog">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title">Ventana de confirmación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <p>{{mensaje}}</p>
        </div>
        <div class="modal-footer">
          <button *ngIf="accion=='new'" type="button" class="btn btn-success botones" data-bs-dismiss="modal" (click)="guardarAnuncio(anuncioForm)" >Aceptar</button>
          <button *ngIf="accion=='update'" type="button" class="btn btn-success botones" data-bs-dismiss="modal" (click)="actualizarAnuncio(anuncioForm)" >Actualizar</button>
        </div>
      </div>
    </div>
</div>
  <div class="row">
      <div class="col-12 mt-5 ">
          <div class="row">
            <div class=" col-10 offset-1 tabla mb-5 mt-5">
              <div class="card-body align-content-center ">
                  <div class="row">
                      <div class=" col-12 ">
                          <div class="card m-3">
                              <h5 class="card-header titulo text-center">REGISTRAR ANUNCIO</h5>
                              <div class="card-body align-content-center">
                                    <h1 class="text-center" >ANUNCIO PARA EL AREA {{redactor.area.nombreArea}}</h1>
                                    <h2 class="text-center">REDACTOR {{redactor.apellido | uppercase}}, {{redactor.nombre | uppercase}}</h2>
                              </div>                    
                        </div>
                      </div>
                      
                  </div>   
              </div>                    
          </div>             
            <div class=" col-12 col-sm-12 col-md-12 col-lg-5 offset-lg-1 mb-lg-5">
                      <div class="card m-3 tabla ">
                          <h5 class="card-header titulo text-center"> CREAR ANUNCIO</h5>                               
                          <div class="card-body align-content-center fondo letra " >
                              <div class="row">    
                                      <!-- FORMULARIO -->
                                      <div class="col-12 col-sm-12" >
                                        <form #anuncioForm="ngForm">
                                          <!-- texto para el anuncio -->
                                          <div class=" mb-3 ">
                                              <label for="texto" class="form-label">Texto de Anuncio</label>
                                              <textarea [disabled]="accion=='update'" class="form-control" id="texto" rows="2" name="texto" [(ngModel)]="anuncio.textoAnuncio"
                                              required #texto="ngModel"></textarea> 
                                              <div *ngIf="texto.invalid && (texto.dirty || texto.touched)"
                                                  class="alert alert-danger">
                                                  <div *ngIf="texto.errors?.['required']">
                                                  Dato requerido.
                                                  </div>
                                              </div> 
                                          </div>
                                          <!-- Fecha de entrega -->
                                          <div class=" mb-3 ">
                                            <label for="fecha" class="form-label">Fecha de Vigencia </label>
                                            <input type="date" [disabled]="accion=='update'"  class="form-control" id="fecha" name="fecha" [(ngModel)]="anuncio.fechaEntrega"
                                            required #fecha="ngModel">
                                            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
                                                class="alert alert-danger">
                                                <div *ngIf="fecha.errors?.['required']">
                                                  Fecha requerida.
                                                </div>
                                            </div> 
                                          </div>
                                          <!-- Estado  -->
                                          <div class=" mb-3 "> 
                                            <label for="estado">Estado</label>
                                            <select class="form-select" id="estado" name="estado" 
                                              [(ngModel)]="anuncio.estado" required #estado="ngModel">
                                              <option value=""selected disabled>Seleccionar</option>
                                              <option [ngValue]="e" *ngFor="let e of estados">{{e}}</option>
                                            </select>
                                            <div *ngIf="estado.invalid && (estado.dirty || estado.touched)"
                                                  class="alert alert-danger">
                                                  <div *ngIf="estado.errors?.['required']">
                                                    Debe seleccionar un Estado.
                                                  </div>
                                            </div> 
                                          </div>
                                          <!-- DESTINATARIOS  -->
                                          <div class="mb-3">
                                            <label for="rolM" class="form-label select-label" >Rol Destinado</label>
                                            <select [disabled]="accion=='update'"  multiple class="form-select" size="3" id="rolM" name="rolM" [(ngModel)]="anuncio.destinatario" 
                                                    required #rolM="ngModel" >
                                              <option  *ngFor="let r of roles" [ngValue]="r">{{r.nombreRol}}</option>
                                            </select>
                                            <div *ngIf="rolM.invalid && (rolM.dirty || rolM.touched)"
                                                  class="alert alert-danger">
                                                  <div *ngIf="rolM.errors?.['required']">
                                                    Debe seleccionar al menos un Rol.
                                                  </div>
                                            </div>
                                          </div>
                                          <!-- tiempo de lectura -->
                                          <div class=" mb-3 ">
                                            <label for="tiempo" class="form-label">Tiempo de Lectura</label>
                                            <input type="number" [disabled]="accion=='update'"  class="form-control" id="tiempo" name="tiempo" [(ngModel)]="anuncio.tiempoLectura"
                                            required #tiempo="ngModel" placeholder="Ingrese la cantidad de segundos que será el tiempo de lectura (En segundos)">
                                            <div *ngIf="tiempo.invalid && (tiempo.dirty || tiempo.touched)"
                                                  class="alert alert-danger">
                                                  <div *ngIf="tiempo.errors?.['required']">
                                                  Dato requerido.
                                                  </div>
                                            </div>
                                                
                                          </div>
                                          <!--destino (Medio de Publicacion)  -->
                                          <div class="mb-3">                                        
                                            <label for="medios" class="form-label select-label" >Medios de publicacion</label>
                                            <select multiple [disabled]="accion=='update'"  class="form-select" size="3" id="medios" name="medios" [(ngModel)]="anuncio.mediosDePublicacion"
                                                    required #medio="ngModel"  > 
                                              <option  *ngFor="let m of medios" [ngValue]="m">{{m.nombreMedio}}</option>
                                            </select>
                                            <div *ngIf="medio.invalid && (medio.dirty || medio.touched)"
                                                  class="alert alert-danger">
                                                  <div *ngIf="medio.errors?.['required']">
                                                    Debe seleccionar al menos un Medio.
                                                  </div>
                                            </div> 
                                          </div>
                                          <!-- Tipo de Imagen -->
                                          <div class=" mb-3 ">
                                            <label for="contenido" class="form-label">Tipo Contenido (URL)</label>
                                            <input type="text" [disabled]="accion=='update'"  class="form-control" id="contenido" name="contenido"
                                             [(ngModel)]="anuncio.tipoContenido" required #contenido="ngModel" placeholder="Ingrese la URL de su anuncio"> 
                                            <div *ngIf="contenido.invalid && (contenido.dirty || contenido.touched)"
                                                  class="alert alert-danger">
                                                  <div *ngIf="contenido.errors?.['required']">
                                                    Debe ingresar URL de su anuncio.
                                                  </div>
                                            </div> 
                                          </div>
                                          <div class="mb-3">
                                            <label for="recursos">Recursos</label>
                                            <form class="row ">
                                              <div class="col-8">
                                                <input id="recursos" [disabled]="accion=='update'" name="recursos" type="file" 
                                                 alife-file-to-base64 multiple accept="image/x-png,image/gif,image/jpeg"
                                                  required class="form-control" (onFileChanged)="agregarListaRecursos($event)">
                                              </div>
                                              <div class="col-4">  
                                                <button class="btn btn-outline-dark" type="button" [disabled]="archivo==''"  
                                                (click)="agregarRecurso()">Agregar recurso</button>
                                              </div>
                                            </form>  
                                          </div >
                                          <div class="d-flex justify-content-center">
                                            <button *ngIf="accion=='new'" type="button" class="btn btn-primary botones " (click)="confirmarAnuncio()"
                                                      data-bs-toggle="modal" data-bs-target="#ventanaConfirmacion"
                                                    [disabled]="!anuncioForm.form.valid">REGISTRAR ANUNCIO</button>
                                            <button *ngIf="accion=='update'" type="button" class="btn btn-primary botones" (click)="confirmarActualizacion()" 
                                                      data-bs-toggle="modal" data-bs-target="#ventanaConfirmacion" >ACTUALIZAR</button>
                                          </div>                                                    
                                          </form>
                                    </div>

                              </div>
                          </div>   
                       </div>
            </div>
            <div class=" col-12 col-sm-12 col-md-12 col-lg-4 offset-lg-1">
            <div class="card m-3 tabla">
                      <h5 class="card-header titulo " >Archivos adjuntos</h5>
                      <div class="card-body align-content-center">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col" >Listado</th>
                                  <th scope="col">Accion</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let a of archivos">
                                  <td>
                                    <img src="{{a}}" class="img-fluid" alt="recursos para el anuncio" style="height:100px ;">
                                  </td>
                                  <td>
                                    <button [disabled]="accion=='update'" type="button" class="btn btn-btn bg-danger btnAcciones" (click)="quitarRecurso(a)" >
                                            <i class="bi bi-trash3"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                      </div>                    
                </div>
            </div> 
          </div>    
      </div>
  </div>

</div>



