<div class="container-fluid ">
    <div class="row">
        <div class="card col-10 offset-1 tabla mt-5 mb-5">   
                <div class="table-wrapper mt-5 ">
                    <div class=" table-title ">
                        <div class=" card p-2 titulo">
                            <div class="row">
                                <div class="col-12  text-center text-md-start">
                                    <h2 class="ps-4 text-center"><b> MIS ANUNCIOS</b></h2>
                                </div>
 
                            </div>      
                        </div>
                    </div>
                    <div class="row mt-3 p-5">
                        <div class="table-responsive">
                            <table 
                            class=" table table-striped table-bordered row-border hover bg-white">
                                <thead class="titulo p-5">
                                  <tr class="text-center" >
                                   
                                    <th scope="col" class="text-center">ANUNCIO</th>
                                    <th scope="col" class="text-center">ESTADO</th>
                                    <th scope="col" class="text-center">TEXTO</th>
                                    <th scope="col" class="text-center">MEDIO DONDE SE PUBLICA</th>
                                    <th scope="col" class="text-center">DESTINADO A</th>
                                    <th scope="col" class="text-center">REDACTOR</th>
                                    <th scope="col" class="text-center">ACCIONES</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let a of anuncios">
                                    <td><img [src]="a.tipoContenido" style="height: 200px;" class="img-fluid" alt="Responsive image"></td>
                                    <td>{{a.estado}}</td>
                                    <td>{{a.textoAnuncio}}</td>
                                    <td >
                                        <label *ngFor="let m of a.mediosDePublicacion">{{m.nombreMedio}}, </label>
                                    </td>
                                    <td>
                                        <label *ngFor="let d of a.destinatario">{{d.nombreRol}}, </label>
                                    </td>
                                    <td>{{a.redactor.nombre}},{{a.redactor.apellido}}</td>
                                    <td>
                                        <div class="row " *ngIf="a.estado===estado">
                                            <div class=" col-5 vstack gap-2  mx-auto me-1 ">
                                                <div class=" d-flex justify-content-center">
                                                    <button type="button" class="btn btn-btn bg-warning me-2 btnAcciones" (click)="modificarAnuncio(a)" >
                                                        <i class="bi bi-pencil "></i>
                                                    </button>
                                                    
                                                    <!-- <button type="button" class="btn btn-btn bg-danger btnAcciones"
                                                    data-bs-toggle="modal" data-bs-target="#ventanaEliminar " (click)="eliminarPersona(p)" >
                                                        <i class="bi bi-trash3"></i>
                                                    </button> -->
                                                   
                                                </div>
                                            </div>
                                        </div>   
                                    </td>
                                  </tr>
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
        </div>
    </div>   
</div>